
body{
	font-size: 12px;
	font-family: "Lato",sans-serif;
	padding-left: 16%;
}

h1{
	font-weight: bold;
	font-size: 2.3em;
	color: #222222;
}

h2{
	font-weight: bold;
	font-size: 1.5em;
	color: turquoise;
}

p{
	color: #333333;
	font-size: 0.95em;
}

.pink-lady{
	background: url('../images/halloween.jpg') fixed no-repeat;
	padding: 2em 2em;
}

.pink-lady p{
	color: #ffcccc;
	background-color: black;
	background-color: rgba(0,0,0,0.6);
}

#left-sidebar{
	background: #aaffaa;
	width: 15%;
	min-height: 200px;
	position: fixed;
	left: 0;
	top: 0;
}

#left-sidebar nav>ul{
	padding: 0;
	margin:0;
}

#left-sidebar nav>ul>li{
	list-style-type: none;	
}

#left-sidebar nav a{
	color: #444499;
	text-decoration: none;
}

#left-sidebar nav a:hover{
	font-size: 1.1em;
	color: #0000ff;
}

#left-sidebar nav a[href^=http]{
	font-size: 0.92em;
	color: #77cc77;
}


@media screen and (max-width: 480px) {
	body{
		font-size: 8px;
	}
}